/* Cores Padrão*/
:root {
    --defaultblack: #000000;
    --defaultwhite: #FFFFFF;
    --primary: #FEC63E;
}

/* Estilos Gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.btn {
    border: 3px solid var(--primary);
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: bold;
}

.btn:hover {
    color: var(--defaultwhite);
    border: 3px solid var(--defaultwhite);
}

.btn-black:hover {
    color: var(--defaultblack);
    border: 3px solid var(--defaultblack);
}

.subtitle {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--defaultblack);
    margin-bottom: 40px;
}

.subtitle::after {
    content: '';
    display: block;
    width: 60px;
    margin: 0 auto;
    margin: 8px auto;
    border-top: 3px solid var(--defaultblack);
}

.subtitle-interno {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: var(--defaultblack);
    margin-bottom: 20px;
}

.subtitle-interno::after {
    content: '';
    display: block;
    width: 60px;
    margin: 8px 0;
    border-top: 3px solid var(--defaultblack);
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.introducao-interna { 
    width: 100%;
    height: 160px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--defaultwhite);
    padding-top: 30px;
}

.introducao-interna h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

.introducao-interna h1::after {
    content: '';
    display: block;
    width: 60px;
    margin: 0 auto;
    margin: 10px auto;
    border-top: 3px solid var(--defaultwhite);
}

/* Header */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    padding: 15px 0;
    z-index: 999;
}

.header>.container {
    display: flex;
    place-items: center;
    align-items: center;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
}

.header_menu ul li a {
    color: var(--defaultblack);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a.menu-ativo {
    color: var(--defaultwhite);
}

.header_menu li a:hover {
    color: var(--defaultwhite);
}

/* Introdução */
.introducao {
    width: 100%;
    height: 380px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 80px;
}

.introducao h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: var(--defaultwhite);
    font-weight: bold;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    color: var(--defaultwhite);
    margin-bottom: 50px;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
    content: '';
    display: block;
    width: 60px;
    margin: 0 auto;
    margin: 10px auto;
    border-top: 3px solid var(--defaultwhite);
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-style: 14px;
    letter-spacing: .1em;
}

/* Produtos */
.produtos {
    padding: 60px 0;
}

.produtos_lista li {
    background-color: var(--primary);
    text-align: center;
}

.produtos_lista h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 10px;
}

.produtos_lista h3::after {
    content: '';
    display: block;
    width: 60px;
    margin: 0 auto;
    margin: 5px auto;
    border-top: 3px solid var(--defaultblack);
}

.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos_icone {
    background-color: var(--defaultblack);
    padding: 20px;
}

.call {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/* Portifólio */
.portifolio {
    background-color: var(--defaultblack);
    padding: 40px 0;
}

.portifolio .subtitle {
    color: var(--primary);
}

.portifolio .subtitle::after {
    background-color: var(--primary);
}

.portifolio>div>ul>li:last-child {
    margin-top: 20px;
}

.portifolio .call p {
    color: var(--defaultwhite);
}

/* Qualidade */
.qualidade {
    padding: 60px 0;
}

.qualidade::after {
    content: "";
    display: block;
    width: 634px;
    height: 83px;
    background-image: url(../img/linhas.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 210px;
    left: 164px;
    z-index: -1;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade_lista {
    padding: 30px 0 ;
    overflow: auto;
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 10px;
}

.qualidade_lista h3::after {
    content: '';
    display: block;
    width: 60px;
    margin: 0 auto;
    margin: 5px auto;
    border-top: 3px solid var(--defaultblack);
}

/* Imagen antes do footer*/

.ft-box {
    width: 100%;
    height: 220px;
    background-image: url(../img/bg-footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.ft-box .quote-externo {
    max-width: 400px;
    padding: 40px 0 ;
}

/* Footer */

.footer {
    padding: 20px 0;
    width: 100%;
    background-color: var(--defaultblack);
    color: var(--defaultwhite);
}

.footer h3 {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary);
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 10px;
}

.footer h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--primary);
    margin: 0 auto;
    margin: 6px 0 12px 0;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_social ul li {
    display: inline-flex;
    margin-right: 10px;
}

.footer_social ul li a {
    border: 3px solid var(--primary);
    display: block;
    padding: 10px;
}

.footer_social ul li a:hover {
    border: 3px solid var(--defaultwhite);
}

/* Copy Right */

.copy {
    width: 100%;
    background-color: var(--primary);
    padding: 20px 0;
}

/* Slider JS */

.js [data-slide] {
    position: relative;
}

.js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
}

.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
}

/* CSS recomendado para a navegação */
.js [data-slide-nav] {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.js [data-slide-nav] > button {
    display: inline-block;
    width: 12px;
    margin: 4px;
    height: 12px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    background: #1d1d1d;
    text-indent: -100px;
    overflow: hidden;
}

.js [data-slide-nav] > button.active {
    background: #fec454;
}