/* Cores Padrão*/
:root {
    --defaultblack: #000000;
    --defaultwhite: #FFFFFF;
    --primary: #FEC63E;
    --bg-list: #1D1D1D;
}

.interna__sobre {
    background-image: url(../img/bg-produtos.jpg);
    background-size: cover;
}
.produto_item {
    padding-top: 60px;
}

.produto_item h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    color: var(--defaultwhite);
    position: relative;
    top: -180px;
    text-align: center;
    margin-bottom: -56px;
}

.produto_item h2::before, .produto_item h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin: 10px auto;
    border-top: 3px solid var(--defaultwhite);
}

.produto_icone {
    background-color: var(--defaultblack);
    padding: 70px 0;
}

.produto_icone img {
    margin: 0 auto;
}

.produto_info {
    background-color: var(--defaultblack);
}

.produto_info p {
    height: 197px;
    color: var(--defaultwhite);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
    padding: 30px 40px;
}

.produto_info ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3px;
}

.produto_info ul li {
    background-color: var(--primary);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
}

/*Orçamento*/

.orcamento {
    width: 100%;
    background-color: var(--defaultblack);
    margin-top: 60px;
    padding: 40px 0;
}

.orcamento h2 {
    color: var(--primary);
}

.orcamento .container .subtitle::after {
    border-top: 3px solid var(--primary);
}

.form {
    padding-right: 60px;
}

.form label {
    color: var(--defaultwhite);
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

.form input {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border: 4px solid var(--primary);
    background: none;
    color: var(--defaultwhite);
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.form textarea {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 120px;
    border: 4px solid var(--primary);
    background: none;
    color: var(--defaultwhite);
    outline: none;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}

.form button {
    background: none;
    padding: 8px 40px;
}

.orcamento_dados {
    color: var(--defaultwhite);
}

.orcamento_dados h3 {
    color: var(--primary);
    font-size: 18px;
    text-transform: uppercase;
}

.orcamento_dados span {
    display: block;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}

.orcamento_dados .dados_email {
    margin-bottom: 30px;
}

.orcamento_dados ul {
    padding-right: 80px;
}

.orcamento_dados ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px
}

.orcamento_dados ul li:nth-child(odd) {
    background-color: var(--bg-list) ;
}

.orcamento_dados p {
    margin: 10px 0;
}

